.cvcontainerScroll{
   margin-top: 5px;
   margin-right: 10px;
   width: 55vw;
   height: 85vh;
   overflow-y: scroll;
   overflow-x: hidden;
   border-radius: 10px;
}

.cvcontainerScroll::-webkit-scrollbar{
   display:none;
   width: 5px;
   
}

.cvcontainer{
   display: flex;
}
.FirstLastnameHeader{
   font-family:'Raleway', sans-serif,'Gill Sans', 'Gill Sans MT';
   font-size: 75px;
}

.professionHeader{
   font-family:'Gill Sans', 'Gill Sans MT', sans-serif;
   font-weight: lighter;
   font-size: 40px;
}

.userDescription{
   margin-top: 20px;
}
.expriencecatagory{
   background-color:#9d9898;
   padding: 20px;
   flex: 4;
   font-weight:500;
}

.ExprienceContainer{
   margin-top: 50px;
}
.exprincewrapper{
   margin-top: 20px;
   list-style: none;
}
.contactscatagory{
   color: whitesmoke;
   background-color: #252A34;
   padding: 20px;
   flex: 2;
   font-weight:500;
}

.contactDetails{
   margin-top:20px;
}
.cvcontainer::-webkit-scrollbar{
   display: block;
   width: 5px;
   
}
.cvcontainer::-webkit-scrollbar-track{
   background-color: transparent;
}
.cvcontainer::-webkit-scrollbar-thumb{
   background-color: rgba(114, 236, 89, 0.608);
   border-radius: 10px;
}
.profilepicture{
   height:200px; 
   width:200px;
   object-fit: cover;
}

.EducationContainer{
   margin-top: 40px;
   display: flex;
   flex-direction: column;
}
.EducationDetailswraper{
   margin-top: 20px;
   font-size: 15px;
   font-family: Tahoma, sans-serif;
   list-style:none;
}
.educationdetails{
   margin-top: 5px;
}

.SkillContainer{
   margin-top: 40px;
}

.SkillContainer>li{
   list-style: none;
}
.languageContainer{
   margin-top: 40px;
   list-style: none;
}

.recomendationContainer{
   margin-top: 40px;
}
.recomendationTiles{
   display: grid;
   grid-template-columns: auto auto auto;
   
}
.recomendationWraper{
   display: flex;
   flex-direction: column;
   margin-right:15px;
   margin-top: 20px;
   flex-wrap: wrap;
}