*{
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}
.App{
    display: flex;
    flex-direction: column;
}
.Contentarea{
    display: flex;
    justify-content: space-between;
    background-color:#EAEAEA;
}