.educationwrapper{
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 2px 2px 5px rgb(106, 105, 105);
    border-radius: 10px;
    margin-top: 10px;
    background-color: #FF2E63;
    color: #141518;
   
}
.Education{
    margin-top: 20px;
 
}
.userEducationcontainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}
.Educationitem{
    display: flex;
    flex-direction: column;
    margin-top:20px ; 
}

.Educationitem> label{
    font-size: 15px;
    font-weight: bold;
}
.eduCommentItem{
    grid-column: span 2;    
}
#comments{
    height: 100px;
    padding: 5px;
}
.educationList{
    padding-left: 15px;
    margin-top: 2px;
    font-size: 1.1em;
    width: 90%;
    height: 40px;
    border: none;
    border-radius: 10px;
   
}
.educationList:hover{
    background-color: rgb(203, 198, 198);
}

.addeducationbtn{
    font-size: 1.2rem;
    font-weight: bold;
   height: 40px;
   width: 100px;
   border: none;
   border-radius: 8px;
   margin-top: 20px;
   color: whitesmoke;
   background-color: #252A34;
}

.addeducationbtn:hover{
    cursor: pointer;
    background-color:  #304462; 
}