.skillsconatiner{
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 2px 2px 5px rgb(106, 105, 105);
    border-radius: 10px;
    margin-top: 10px;
    background-color: #FF2E63;
    color: #141518;
}

#skillabel{
    padding-left: 15px;
    margin-top: 2px;
    font-size: 1.1em;
    width: 60%;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: whitesmoke;
}
#languagelabel{
    padding-left: 15px;
    margin-top: 2px;
    font-size: 1.1em;
    width: 60%;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: whitesmoke;
}


.addskillsbtn{
    font-size: 1.2rem;
    font-weight: bold;
   height: 40px;
   width: 100px;
   border: none;
   border-radius: 8px;
   margin-top: 20px;
   color: whitesmoke;
   background-color: #252A34;
}

.addskillsbtn:hover{
    cursor: pointer;
    background-color:  #304462; 
}
.Skillsheader{
    margin-top: 20px;
   
}
.skillItems{
    margin-top: 10px;
    margin-bottom: 10px;
}

.skillItems> label{
    font-size: 20px;
    font-weight: bold;
}